* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #040a16;
}
nav ul li a:hover{
    color: #70788d;
}
  .home {
    background-image: url("p.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    color: rgb(64, 26, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 7px 50px;
    text-align: right;
    text-shadow:2px 2px 2px black;
  }
  
  .intro {
    font-size: 30px;
    font-style: italic;
  }
  
  .about {
    background-image: url("l.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(247, 251, 252);
    height: 100vh;
    padding: 0px 50px;
    text-align: center;
    text-shadow:2px 2px 2px black;
  }
  
  .martialarts {
    background-image: url("o.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(207, 56, 207);
    height: 100vh;
    padding: 0px 50px;
    text-align: center;
    font-size: 50px;
    text-shadow:2px 2px 2px rgb(20, 9, 9);
  }
  
  .contact {
    background-image: url("hire.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(207, 56, 207);
    height: 100vh;
    padding: 0px 50px;
    text-align: center;
    text-shadow:2px 2px 2px rgb(245, 240, 240);
  }
  
  .headings{
    text-align: center;
    background: #7a7e81;
    color:rgb(90, 199, 66);
    font-style: italic;
    letter-spacing: 2px;
  }
  
  
  